<div class="row d-flex justify-content-center align-items-center">
  <div class="col-12 header mt-5 mb-3 text-center">
    <h1>Account Login</h1>
  </div>
  <form action="/show" method="POST">
    <div class="form-group col-12" >
      <label for="email">Email address</label>
      <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="請輸入Email ..." style="width: 300px">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group col-12">
      <label for="password">Password</label>
      <input name="password" type="password" class="form-control" id="password" style="width: 300px">
    </div>
    <div class="row justify-content-center align-items-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    
  </form>
</div>