<h1>{{welcomeMSG}}</h1>

{{#if errorMsg}}
<div class="alert alert-danger text-center" role="alert">
  {{errorMsg}}
</div>
{{/if}}
<div class="container">
  <form action="/logout">
    <button type="submit" class="btn btn-success">Log out</button>
  </form>
</div>